<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.volka.dynamicbatch.mapper.job.JobRunHstMapper">

    <select id="selectSeq" resultType="int">
        SELECT nextval('cbm_job_run_hst_seq')
    </select>

    <insert id="insert" parameterType="JobRunHst">
        INSERT INTO cbm_job_run_hst (
            job_run_hst_id
            ,job_command
            ,succ_yn
            ,run_dt
        ) VALUES (
            #{jobRunHstId}
            ,#{jobCommand}
            ,'N' /*insert시 N 고정*/
            ,now()
        )
    </insert>

    <update id="update" parameterType="JobRunHst">
        UPDATE cbm_job_run_hst
        SET succ_yn = #{succYn}
            ,err_cd = #{errCd}
            ,err_msg = #{errMsg}
            ,result_dt = now()
        WHERE job_run_hst_id = #{jobRunHstId}
    </update>
</mapper>


